body {
  --sb-size: 12px;
}

body *::-webkit-scrollbar {
  width: var(--sb-size);
}

body *::-webkit-scrollbar-track {
  background: var(--surface);
  border-radius: 5px;
}

body *::-webkit-scrollbar-thumb {
  background: var(--text);
  border-radius: 5px;
  border: 3px solid var(--surface);
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--text) var(--surface);
  }
}
